Range header is not syntactically valid

As per [RFC-2616 §14.35](https://tools.ietf.org/html/rfc2616#section-14.35), the value of a "Range" header must include a range unit (e.g. "bytes").  Currently, [the unfurl library is not doing this](https://github.com/pmonks/unfurl/blob/master/src/unfurl/api.clj#L133).